PORT=3000
NODE_ENV=development # Or Production 
DATABASE_URI=""
JWT_ACCESS_SECRET="token is just a string and nothing more,so anyone who can get this, can access server,hence we encrypt it, so that even in worst case if db is compromised, you wil"
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET="jab access token expire hota hai, tab client refresh token use karke server se naya access token (aur kabhi-kabhi naya refresh token) leta hai."
JWT_REFRESH_EXPIRES_IN=7d
SMTP_USER=
SMTP_PASS=_GET_IT_FROM_ https://myaccount.google.com/apppasswords
SMTP_FROM_EMAIL=the_email_which_you_want_to_use

